/* Carousel.module.css */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
  
  /* Update the button styles to include a local class */
  .button {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    cursor: pointer;
    background: #00d6a4;
  }
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  